	*{
		/*font-family: "comic sans"*/
	}
	body{
		margin: 0px;
		padding: 0px;
		background-color: darkgray;
	}
	#canvas{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	#controllerFrame{
		background-color: darkgray;
		padding: 0px;
		position: absolute;
		/*border: 1px solid red;*/
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		overflow-y: auto;
		white-space: nowrap;
		overflow-x: hidden;
	}

	#clearCanvasController, #GCOController, #saveCanvas, #shapeController, #sizeXController, #sizeYController, #gravityController, #lifeTimeController, #randomlifeTimeController, #posXController, #posYController, #randomXController, #randomYController, #velXMaxController, #velXMinController, #velYMaxController, #velYMinController, #particleCountController, #creationTimeController, #redChannelController, #greenChannelController, #blueChannelController, #alphaChannelController, #bgRedChannelController, #bgGreenChannelController, #bgBlueChannelController, #bgAlphaChannelController, #randomColorController, #canvasBoundaryController, #linkController, #frictionXController, #frictionYController, #collisionController, #dropdownWrapper, #demoListController, #particleImageController, #clearFileInputController, #modeController, #generateParticlesController, #lifeModeController, #deletePreviousFrames, #loopDemoController, #movementController, #aboutController, #infoFrame, #deletionModeController, #randomSizeController, #updateAppController, #framerateController{
		position: relative;
		/*transform: translateX(-50%);*/
		/*top: 50%;*/
		z-index: 1000;
		/*-webkit-appearance: slider-vertical;*/
		/*height: 250px;*/
		width: 250px;
		margin-right: 30px;
		/*display: inline-block;*/
		display: block;
	}
	/*buttons people buttons*/
	#clearCanvasController{
		margin-top: 30px;
		width: 253px;
	}
	#demoListController{
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#particleImageController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}
	#clearFileInputController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}
	#modeController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#generateParticlesController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}
	#lifeModeController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#movementController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#loopDemoController{
		display: inline-flex;
		transform: translateX(-19%);
	}
	#aboutController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 50px;
	}
	#infoFrame{
		border: 3px solid gray;
		width: 247px;
		height: 200px;
		margin-bottom: 50px;
		overflow-y: auto;
		display: none;
	}
	#infoFrame p{
		padding: 10px;
		margin:auto;
		text-align:justify;
		word-break: break-word;
		white-space: pre-line;
		overflow-wrap: break-word;
	}
	#infoFrame img{
		margin: 10px;
		width: 210px;
		height: 160px;
	}
	#GCOController{
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#shapeController{
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#deletionModeController{
		width: 253px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#randomColorController{
		display: inline-flex;
		transform: translateX(-11%);
	}
	#randomSizeController{
		display: inline-flex;
		transform: translateX(-7%);
	}
	#updateAppController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}
	#randomlifeTimeController{
		display: inline-flex;
		transform: translateX(-15%);
	}
	#collisionController{
		text-align-last: center;
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}
	#framerateController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}


	#linkController{
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	#saveCanvas{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
	}
	#recordCanvas{
		width: 253px;
	}
	#deletePreviousFrames{
		display: inline-flex;
		transform: translateX(-25%);
	}
	#canvasBoundaryController{
		margin-top: 10px;
		width: 253px;
		margin-bottom: 10px;
		text-align-last: center;
	}
	/*hr{
		width: 253px;
		transform: translateX(-20%);
	}*/
	*::selection{
		color: none;
		background: none;
	}
	#clearCanvasController:hover,
	#GCOController:hover,
	#saveCanvas:hover,
	#shapeController:hover,
	#sizeXController:hover,
	#sizeYController:hover,
	#gravityController:hover,
	#lifeTimeController:hover,
	#randomlifeTimeController:hover,
	#posXController:hover,
	#posYController:hover,
	#randomXController:hover,
	#randomYController:hover,
	#velXMaxController:hover,
	#velXMinController:hover,
	#velYMaxController:hover,
	#velYMinController:hover,
	#particleCountController:hover,
	#creationTimeController:hover,
	#redChannelController:hover,
	#greenChannelController:hover,
	#blueChannelController:hover,
	#alphaChannelController:hover,
	#bgRedChannelController:hover,
	#bgGreenChannelController:hover,
	#bgBlueChannelController:hover,
	#bgAlphaChannelController:hover,
	#randomColorController:hover,
	#canvasBoundaryController:hover,
	#linkController:hover,
	#frictionXController:hover,
	#frictionYController:hover,
	#collisionController:hover,
	#deletePreviousFrames:hover,
	#recordCanvas:hover,
	#demoListController:hover,
	#particleImageController:hover,
	#clearFileInputController:hover,
	#modeController:hover,
	#generateParticlesController:hover,
	#lifeModeController:hover,
	#loopDemoController:hover,
	#movementController:hover,
	#aboutController:hover,
	#deletionModeController:hover,
	#randomSizeController:hover,
	#updateAppController:hover,
	#framerateController:hover{
		cursor: pointer;
	}

	/*#sizeController::-webkit-slider-thumb, 
	#posXController::-webkit-slider-thumb,
	#posYController::-webkit-slider-thumb,
	#randomXYController::-webkit-slider-thumb,
	#velXMaxController::-webkit-slider-thumb,
	#velXMinController::-webkit-slider-thumb,
	#velYMaxController::-webkit-slider-thumb,
	#velYMinController::-webkit-slider-thumb,
	#creationTimeController::-webkit-slider-thumb,
	#redChannelController::-webkit-slider-thumb,
	#greenChannelController::-webkit-slider-thumb,
	#blueChannelController::-webkit-slider-thumb
	{
		transform: translateX(-5px);
	}
//////////////////////////////////////////////////////////
	#sizeController{
		left: 5%;
	}
	#sizeController::-webkit-slider-runnable-track{
		width: 100%;
		background: pink;
	}
//////////////////////////////////////////////////////////
	#posXController{
		left: 10%;
	}
	#posXController::-webkit-slider-runnable-track{
		width: 100%;
		background: skyblue;
	}
//////////////////////////////////////////////////////////
	#posYController{
		left: 15%;
	}
	#posYController::-webkit-slider-runnable-track{
		width: 100%;
		background: skyblue;
	}
//////////////////////////////////////////////////////////
	#randomXYController{
		left: 20%;
	}
	#randomXYController::-webkit-slider-runnable-track{
		width: 100%;
		background: lime;
	}
//////////////////////////////////////////////////////////
	#velXMaxController{
		left: 25%;
	}
	#velXMaxController::-webkit-slider-runnable-track{
		width: 100%;
		background: maroon;
	}
//////////////////////////////////////////////////////////
	#velXMinController{
		left: 30%;
	}
	#velXMinController::-webkit-slider-runnable-track{
		width: 100%;
		background: maroon;
	}
//////////////////////////////////////////////////////////
	#velYMaxController{
		left: 35%;
	}
	#velYMaxController::-webkit-slider-runnable-track{
		width: 100%;
		background: maroon;
	}
//////////////////////////////////////////////////////////
	#velYMinController{
		left: 40%;
	}
	#velYMinController::-webkit-slider-runnable-track{
		width: 100%;
		background: maroon;
	}
//////////////////////////////////////////////////////////
	#creationTimeController{
		left: 45%;
	}
	#creationTimeController::-webkit-slider-runnable-track{
		width: 100%;
		background: olive;
	}
//////////////////////////////////////////////////////////
	#redChannelController{
		left: 50%;
	}
	#redChannelController::-webkit-slider-runnable-track{
		width: 100%;
		background: red;
	}
//////////////////////////////////////////////////////////
	#greenChannelController{
		left: 50%;
	}
	#greenChannelController::-webkit-slider-runnable-track{
		width: 100%;
		background: green;
	}
//////////////////////////////////////////////////////////
	#blueChannelController{
		left: 50%;
	}
	#blueChannelController::-webkit-slider-runnable-track{
		width: 100%;
		background: blue;
	}*/